@font-face {
    font-family: "PT Serif";
    src: url("./assets/PTSerif-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Matemasie-Regular";
    src: url(./assets/Matemasie-Regular.ttf) format("truetype");
}

@property --fade-color {
    syntax: "<color>";
    inherits: true;
    initial-value: transparent;
}

:root {
    transition: --fade-color 200ms ease;
}

:root.dark{
    --fade-color: rgba(12,12,12, .75);
    --button-bg-color: #434659;
    --button-bg-hover-button: #eebed4;
    --text-color: #e0e0e0;
    --text-hover-color: #DB2777;
    --logo-color: #e0e0e0;
}

:root.light{
    --fade-color: rgba(220,220,220, .1);
    --button-bg-color: #efedf4;
    --button-bg-hover-button: #eebed4;
    --text-color: #DB2777;
    --text-hover-color: white;
    --logo-color: #121212;
}

body{
    display: flex;
    flex-direction: column;
    background-image: url(assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 100px 20px rgba(0, 0, 0, 1);
    color: var(--text-color);
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
}

#fade{
    width: 100vw;
    height: 100vh;
    background-color: var(--fade-color);
}

header{
    box-sizing: border-box;
    padding:1rem;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#container{
    z-index: 3;
    display: flex;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

.container-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-style: none;
    border-radius: 0%;
}

#switch-theme-button{
    background: none;
    text-decoration: none;
    box-shadow: none;
    border: none;
}

#content{
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 1rem;
}

.list-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 300px;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

.title{
    display: flex;
    justify-content: center;
}

.title > h3{
    margin: 0;
}

.drag-indicator{
    cursor: move;
}

.checkbox-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.entry{
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.entry:hover{
    background-color:#eebed4;
    border-radius: 10px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
    margin: 0;
    border-radius: 1rem;
    overflow: hidden;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-icons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dropdown-button{
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: white;
    border-style: none;
    border-radius: 0;
}

footer{
    box-sizing: border-box;
    padding: 1rem;
}

button{
    z-index: 2;
    background-color: var(--button-bg-color);
    color: var(--text-color);
    border-radius: 1rem;
    padding: 1rem;
    transition: 0.1s;    
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

#logo{
    font-family: "Matemasie-Regular";
    font-size: xx-large;
    color: var(--logo-color);
}

button:hover{
    color: var(--text-hover-color);
    background-color: var(--button-bg-hover-button);
}